- add_to_breadcrumbs "Service Templates", admin_application_settings_services_path
- breadcrumb_title @service.title
- page_title @service.title, "服务模板"

= render 'deprecated_message' if @service.deprecation_message

= render 'form'
